.nav-bar{
    width: 100%;
    height: 25%;
}
.logo{
    font-size: xx-large;
    font-family: inherit;
    font-variant-caps: small-caps;
    color: #d615b3;
}
.headings{
    color: #62128a;
}
.vid{
    width: 50%;
    height: 50%;
}

.ice-cream{
    width: 31%;
    padding-left: 1%;
    float: left;
}
.Sonata{
    margin-left: 55%;
    padding-top: 15%;
    font-variant: petite-caps;
    font-size: xxx-large;
    color: #d615b3;
}
.enjoy{
    margin-left: 55%;
    padding-top: 1%;
    font-family: cursive;
    color: #62128a;
    font-weight: bold;
    font-size: x-large;

}
.ice-cream-mob{
    width: 45%;
    padding-left: 1%;
    float: left;
}
.son-mob{
    width: 45%;
    float: left;
}
.Sonata-mob{
    text-align: left;
    font-variant: petite-caps;
    font-size: x-large;
    color: #d615b3;
    padding-left: 8%;
    padding-top: 50%;
}
.enjoy-mob{
    font-family: cursive;
    color: #62128a;
    font-weight: bold;
    font-size: medium;
    text-align: left;
    padding-left: 8%;


}